@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --dark-bg-color: #1F2937;
    --color-2: #F9FAF8;
    --color-3: #E5E7EB;
    --button-color-4: #3882F6;
    --font-serif: 'Labrada', serif;
    --font-sans: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: var(--font-sans);
}

img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

header {
    background: local no-repeat linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/craft10.jpg);
    background-size: cover;
    background-position: 25% 30%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 20rem 7rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-family: var(--font-serif);
    font-size: 2.5rem;
    color: var(--color-2);
}

ul {
    display: flex;
    gap: 2rem;
}

ul a {
    text-decoration: none;
    color: var(--color-3);
    font-size: 1.6rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    
}

.header-left-info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.header-left-info h1 {
    color: var(--color-2);
    font-size: 48px;
    max-width: 60rem;
}

.header-left-info > p {
    color: var(--color-3);
    font-size: 1.8rem;
    max-width: 46rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}



button {
    background-color: var(--button-color-4);
    border: none;
    color: var(--color-2);
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 12px;
    font-family: var(--font-serif);
    font-weight: bold;
    min-width: 21rem;
}

.button-container {
    display: flex;
    gap: 3rem;
}

.button-container > button:nth-child(1) {

}

.button-container > button:nth-child(2) {

}


